.header{
   background-color: black;
   font-family: 'Red Hat Text', sans-serif;
   border-bottom: 1px solid white;
   .header__container{
      display: flex;
      align-items: center;
      .Logo_lumina{
         width: 200px;
         margin-left: 60px;
         margin-right: 50px;
      }
      .NavBar{
         display: flex;
         justify-content: space-evenly;
         width: 100%;
         a {
            text-decoration: none;
            color: white;
            height: 24px;
            transition: color 1s;
            position: relative;
         }
         a::before {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 0;
            height: 1px;
            background-color: white;
            transition: width 1s;
         }
         a:hover::before {
            width: 100%;
         }
         .numero_carrito{
            border-radius: 50px;
            background-color: white;
            color: black;
            width: 26px;
            height: 26px;
            left: 91%;
            display: flex;
            margin-left: 50px;
            align-items: center;
            justify-content: center;
         }
      }
   }
}
